In [2]:
import pandas as pd
import numpy as np

In [7]:
data=pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding='latin-1')

In [8]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
20,4,Algeria,2905,Cereals - Excluding Beer,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
21,4,Algeria,2905,Cereals - Excluding Beer,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
22,4,Algeria,2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
23,4,Algeria,2905,Cereals - Excluding Beer,645,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.00,1682.00,1699.00,1656.00,1672.00
25,4,Algeria,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,49.43,49.54,50.01,48.86,49.36
26,4,Algeria,2905,Cereals - Excluding Beer,684,Fat supply quantity (g/capita/day),g/capita/day,6.84,6.78,6.83,6.63,6.58
27,4,Algeria,2511,Wheat and products,5511,Production,1000 tonnes,2436.00,2657.00,2440.00,2437.00,3981.00
28,4,Algeria,2511,Wheat and products,5611,Import Quantity,1000 tonnes,7461.00,8531.00,8255.00,8105.00,8434.00
29,4,Algeria,2511,Wheat and products,5072,Stock Variation,1000 tonnes,487.00,1401.00,731.00,546.00,1927.00
...,...,...,...,...,...,...,...,...,...,...,...,...
60913,181,Zimbabwe,2928,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,34.00,15.00,16.00
60914,181,Zimbabwe,2928,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60915,181,Zimbabwe,2928,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,1.00,1.00,1.00
60916,181,Zimbabwe,2928,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,41.00,46.00,33.00,19.00,16.00
60917,181,Zimbabwe,2928,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60918,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60919,181,Zimbabwe,2928,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.34,1.09
60920,181,Zimbabwe,2928,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,2.00,1.00
60921,181,Zimbabwe,2928,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.05,0.04
60922,181,Zimbabwe,2928,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.02
60923,181,Zimbabwe,2680,Infant food,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60924,181,Zimbabwe,2680,Infant food,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60925,181,Zimbabwe,2680,Infant food,5911,Export Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60926,181,Zimbabwe,2680,Infant food,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60927,181,Zimbabwe,2680,Infant food,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60928,181,Zimbabwe,2680,Infant food,5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60929,181,Zimbabwe,2680,Infant food,645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.01
60930,181,Zimbabwe,2680,Infant food,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
60931,181,Zimbabwe,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60932,181,Zimbabwe,2680,Infant food,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,33.00,15.00,16.00
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60935,181,Zimbabwe,2899,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,0.00,0.00,1.00
60936,181,Zimbabwe,2899,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60937,181,Zimbabwe,2899,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [12]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [13]:
data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [18]:
df=data.groupby('Element Code')

In [27]:
df.first()

,Area Code,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,,,,,
511,4,Algeria,2501,Population,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
645,4,Algeria,2905,Cereals - Excluding Beer,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
664,4,Algeria,2901,Grand Total,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
674,4,Algeria,2901,Grand Total,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
684,4,Algeria,2901,Grand Total,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5072,4,Algeria,2905,Cereals - Excluding Beer,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
5123,4,Algeria,2905,Cereals - Excluding Beer,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
5131,4,Algeria,2905,Cereals - Excluding Beer,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
5142,4,Algeria,2905,Cereals - Excluding Beer,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
5154,4,Algeria,2905,Cereals - Excluding Beer,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
5170,4,Algeria,2905,Cereals - Excluding Beer,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
5171,7,Angola,2913,Oilcrops,Tourist consumption,1000 tonnes,0.00,0.00,0.00,0.00,0.00
5301,4,Algeria,2501,Population,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
5511,4,Algeria,2905,Cereals - Excluding Beer,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
5521,4,Algeria,2905,Cereals - Excluding Beer,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
5527,4,Algeria,2905,Cereals - Excluding Beer,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
5611,4,Algeria,2905,Cereals - Excluding Beer,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
5911,4,Algeria,2905,Cereals - Excluding Beer,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00

In [28]:
df.aggregate('sum')

,Area Code,Item Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,
511,6020,112545,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
645,658446,13185401,49650.63,49345.13,48985.28,48690.04,49056.85
664,674057,13511060,454257.00,453383.00,451810.00,454681.00,455261.00
674,675050,13535000,11836.46,11833.95,11779.69,11842.45,11833.56
684,675050,13535000,10225.56,10235.74,10102.77,10253.84,10258.69
5072,571566,11329527,58749.83,34910.99,33140.12,54316.91,20577.91
5123,274353,5424803,153223.00,155439.00,157787.00,160614.00,163902.00
5131,271940,5350416,282923.00,287929.00,280631.00,292836.00,308429.00
5142,663295,13285035,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
5154,235554,4729749,78718.13,66254.41,69563.68,91645.97,91300.97
5170,623271,12421089,30149.00,30045.00,37224.00,35500.00,34864.00
5171,50308,1486528,416.00,349.00,89.00,91.00,90.00
5301,708993,14197445,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
5511,526751,10450053,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
5521,176272,3538507,216927.89,225050.22,228958.65,223705.68,233489.68
5527,103537,2035933,21922.92,23976.82,23389.20,24870.14,25263.14
5611,688174,13795966,274144.48,267018.46,286582.78,294559.09,287997.09
5911,599910,11840553,150020.64,157614.47,151920.46,182338.80,181594.80

In [35]:
df1=data[['Y2018','Element Code']].groupby('Element Code')

In [38]:
df1.aggregate('sum')

                   Y2018
Element Code
511           1140605.00
645             49056.85
664            455261.00
674             11833.56
684             10258.69
5072            20577.91
5123           163902.00
5131           308429.00
5142          1303841.28
5154            91300.97
5170            34864.00
5171               90.00
5301          2161192.10
5511          2075072.89
5521           233489.68
5527            25263.14
5611           287997.09
5911           181594.80

In [64]:
df3=data[data['Area']=="Algeria" ]
df4=df3[df3['Element']=="Import Quantity"]

df4.aggregate('sum')

Area Code                                                     448
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                  301030
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                               628432
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                     34940.1
Y2015                                                     37841.9
Y2016                                                     36736.1
Y2017                                                     36059.3
Y2018                                                     36238.3
dtype: object

In [70]:
data.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64